<h1>Create a goal</h1>

<%= render partial: 'form', locals: { action: goals_url,
                                      method: 'post',
                                      submit_text: 'Add goal' } %>
